.main-title {
    font-weight: 800;
    font-size: 18cqw;
    margin-top: 4cqw;
}

.secondary-title {
    font-weight: 800;
    font-size: 7cqw;
}

.open-page-div {
    position: absolute;
    top: 40%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
}

.open-page-button {
    position: absolute;
    top: 60%;
    left: 50%;
}

.exp-bubble {
    width: 80cqw;
    position: absolute;
    top: 40cqw;
    left: 3cqw;
}

.holding-tom {
    width: 30cqw;
    position: absolute;
    top: 130cqw;
    left: 70cqw;
}

.practiceDiv {
    position: absolute;
    top: 65cqw;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
}

.rotate-button {
    transform: translate(-75%, -55%) rotate(35deg);
}

.practiceTitle {
    margin-top: 8cqw;
}

.main-asteroid {
    width: 80cqw;
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translateX(-50%) rotate(300deg);
    /* animation: asteroidAnim 3s infinite linear; */
}

@keyframes asteroidAnim {
    from {
        transform: translateX(-50%) rotate(0deg);
    }

    to {
        transform: translateX(-50%) rotate(360deg);
    }
} 